{% extends 'layout.html' %}

{% block content %}
  <div id="content_container"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    const GROUP_REX = {{ groups|tojson }};
    const JURISDICTION_REX = {{ jurisdictions|tojson }};
  </script>

  <script src="{{ url_for('static', filename='js/lib/parse-address.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/fuzzball.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv/dropsite_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv/fields_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv/grid_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/groups/map_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv/juris_mapper_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv/import_panel.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {
      csvImportPanelCtlr.init();
   });

  </script>
{% endblock %}
