{% extends 'layout.html' %}

{% block content %}
  <div id="content_container" style="padding-left: 10px"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var contactRecords = {{ contacts|tojson }};
    var groupRecords = {{ groups|tojson }};
    var membershipRecords = {{ members|tojson }};
    var streetRecords = {{ streets|tojson }};
  </script>

  <script src="{{ url_for('static', filename='js/lib/double-metaphone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/parse-address.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/fuzzball.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/condb.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/grid_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/form_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/match_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/detail_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/coa_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/membership_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/mgt_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/csv/export_table.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    var gridView = {
      id: "gridView",
      rows: [conGridPanel],
      autowidth: true
    };

    var detailView = {
      id: "detailView",
      rows: [conDetailPanel],
      autowidth: true
    };

    webix.ready(function() {

      webix.ui(conCGrid);
      webix.ui(conVGrid);
      webix.ui(conSGrid);
      webix.ui(coaPopup);
      webix.ui(memPopup);
      webix.ui(csvExportTable);

      webix.ui({
        container: "content_container",
{#        type: "space",#}
        rows: [
          {
            view: "segmented",
            id: "conTabBar",
            value: "gridView",
            multiview: true,
            optionWidth: 80,
            align: "left",
{#            padding: 5,#}
            options: [
{#              {value: "Grid", id: "gridView"},#}
{#              {value: "Details", id: "detailView"}#}
            ]
          },
{#          {height: 5},#}
          {
            cells: [gridView, detailView],
            autowidth: true
          }
        ]
      });


      conMgtPanelCtlr.init();
      csvExportTableCtlr.init();
  });

  </script>
{% endblock %}
