{% extends 'layout.html' %}

{% block content %}
  <div id="content_container" style="padding-left: 10px"></div>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    const CONTACT_REX = {{ contacts|tojson }};
  </script>

  <script src="{{ url_for('static', filename='js/lib/double-metaphone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/parse-address.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/fuzzball.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/condb.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/grid_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/form_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/match_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/detail_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/coa_popup.js') }}"></script>
  <script src="{{ url_for('static', filename='js/contacts/pcts_panel.js') }}"></script>
  <script src="{{ url_for('static', filename='js/models/street.js') }}"></script>
  <script src="{{ url_for('static', filename='js/models/address.js') }}"></script>
  <script src="{{ url_for('static', filename='js/models/block.js') }}"></script>

  <script type="text/javascript" charset="utf-8">

    webix.ready(function() {
      conPctPanelCtlr.init();
  });

  </script>
{% endblock %}
